.busy {
    z-index: 1000;
    position: fixed;
    left: 0px;
    top: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 60px;
    height: 60px;
    animation: busy 1.5s linear infinite;
    margin: 0;
    border: 6px solid #1d262d;
    border-right-color: transparent;
    border-radius: 100%;
    vertical-align: middle;
}

.bubbles01 {
    background-color: black;
    margin-left: -25px;
    position: absolute;
    border-radius: 50%;
    animation-name: bubble;
    animation-duration: 1.5s;
    animation-delay: 0.1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.bubbles02 {
    background-color: black;
    position: absolute;
    border-radius: 50%;
    animation-name: bubble;
    animation-duration: 1.5s;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.bubbles03 {
    margin-left: 25px;
    background-color: black;
    position: absolute;
    border-radius: 50%;
    animation-name: bubble;
    animation-duration: 1.5s;
    animation-delay: 0.6s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.bars {
    width: 10px;
    height: 5px;
    margin: 2px;
    opacity: 0.2;
    background-color: orangered;
    animation-name: barResize;
}

#bar001 {
    animation-duration: 1.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#bar002 {
    animation-duration: 1.3s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

#bar003 {
    animation-duration: 1.3s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
}

/*
#############################################
#  ANIMAÇÕES - Circulo                      #
#############################################
*/
@keyframes busy {
    100% {
        transform: rotateZ(360deg);
    }
}

@-webkit-keyframes busy {
    100% {
        transform: rotateZ(360deg);
    }
}

@-moz-keyframes busy {
    100% {
        transform: rotateZ(360deg);
    }
}

/*
#############################################
#  ANIMAÇÕES - Bolha                        #
#############################################
*/
@keyframes bubble {
    0% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
    50% {
        width: 25px;
        height: 25px;
        opacity: 0.3;
    }
    100% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-webkit-keyframes bubble {
    0% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
    50% {
        width: 25px;
        height: 25px;
        opacity: 0.3;
    }
    100% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

@-moz-keyframes bubble {
    0% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
    50% {
        width: 25px;
        height: 25px;
        opacity: 0.3;
    }
    100% {
        width: 10px;
        height: 10px;
        opacity: 1;
    }
}

/*
#############################################
#  ANIMAÇÕES - Barra                        #
#############################################
*/

@keyframes barResize {
    0% {
        height: 5px;
        opacity: 0.2
    }
    40% {
        height: 30px;
        opacity: 1
    }
    80% {
        height: 5px;
        opacity: 0.2
    }
}

@-webkit-keyframes barResize {
    0% {
        height: 5px;
        opacity: 0.2
    }
    40% {
        height: 30px;
        opacity: 1
    }
    80% {
        height: 5px;
        opacity: 0.2
    }
}

@-moz-keyframes barResize {
    0% {
        height: 5px;
        opacity: 0.2
    }
    40% {
        height: 30px;
        opacity: 1
    }
    80% {
        height: 5px;
        opacity: 0.2
    }
}